# Python cache files

**pycache**/
*.py[cod]

# Virtual environments

.venv/
venv/

# PyCharm settings

.idea/
**/.idea/

# Environment variables and secrets

.env
.env.*

# Test and coverage files

.pytest_cache/
.coverage
htmlcov/
